<main class="main">
  <label for="post" class="form-label-name">Post</label>
  <div class="post-card">
    <div class="card-body">
      <div>
        <h5 class="card-title">{{post.title}}</h5>
        <p>Created by {{post.user.username}} on {{formatDate post.date_created}}</p>
      </div>
      <div>
        <p class="card-text">{{post.content}}</p>
      </div>
    </div>
  </div>
  <label for="comments" class="form-label-name">Comments</label>
 <div class="card-grid">
  {{#each comments}}
  <div class="card">
    <div class="card-body">
      <p>Created by {{this.user.username}} on {{formatDate this.date_created}}</p>
      <p class="card-text">{{this.content}}</p>
    </div>
  </div>
  {{/each}}
  </div>
  
 <div class="button-row">
<button id="commentBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Comment
    </button>
    <button id="backBtn" type="button" class="btn btn-primary">Back</button>
  </div>
  <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="comments" class="border border-none form-control form-control-lg text-start">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id= "saveBtn" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="/js/comment.js"></script>
</main>